@import "tailwindcss";

:root {
  --text-color: #ffffff;
}

@theme {
  --breakpoint-xs: 23.4375rem;
  --breakpoint-3xl: 120rem;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.font-gilroy {
  font-family: var(--font-gilroy);
}

body {
  color: var(--text-color);
  font-family: var(--font-montserrat);
}
